@keyframes show {
  100% {
    transform: scale(1, 1);
    opacity: 1;
  }
  0% {
    transform: scale(0, 0);
    opacity: 0;
  }
}
*[data-ani*=animate-show] {
  animation: show 1s forwards;
  transform-origin: left top;
}
@keyframes hide {
  0% {
    transform: scale(1, 1);
    opacity: 1;
  }
  100% {
    transform: scale(0, 0);
    opacity: 0;
  }
}
*[data-ani*=animate-hide] {
  animation: hide 1s forwards;
  transform-origin: left top;
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
*[data-ani*=animate-fadein] {
  animation: fadein 1s forwards;
  transform-origin: top left;
}
@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
*[data-ani*=animate-fadeout] {
  animation: fadeout 1s forwards;
  transform-origin: top left;
}
@keyframes slideup {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 0);
  }
}
*[data-ani*=animate-slideup] {
  animation: slideup 0.5s forwards;
  transform-origin: top;
}
@keyframes slidedown {
  0% {
    transform: scale(1, 0);
  }
  100% {
    transform: scale(1, 1);
  }
}
*[data-ani*=animate-slidedown] {
  animation: slidedown 0.5s forwards;
  transform-origin: top;
}
@keyframes sliderleft {
  0% {
    transform: scale(0, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}
*[data-ani*=animate-sliderleft] {
  animation: sliderleft 0.5s linear;
  transform-origin: right;
}
@keyframes slidelright {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(0, 1);
  }
}
*[data-ani*=animate-slidelright] {
  animation: slidelright 0.5s linear;
  transform-origin: right;
}
@keyframes slidelright1 {
  0% {
    transform: scale(0, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}
*[data-ani*=animate-slidelright1] {
  animation: slidelright1 0.5s linear;
  transform-origin: left;
}
@keyframes sliderleft1 {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(0, 1);
  }
}
*[data-ani*=animate-sliderleft1] {
  animation: sliderleft1 0.5s linear;
  transform-origin: left;
}
@keyframes xiashang {
  0% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(-50px);
  }
}
*[data-ani*=animate-xiashang] {
  animation: xiashang 1.5s infinite;
}
@keyframes rotatex {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(360deg);
  }
}
*[data-ani*=animate-rotatex] {
  animation: rotatex 1.5s infinite;
}
@keyframes circle {
  0% {
    transform: translate(100px, 0px);
  }
  1.11111111% {
    transform: translate(99.75640503px, 6.97564737px);
  }
  2.22222222% {
    transform: translate(99.02680687px, 13.9173101px);
  }
  3.33333333% {
    transform: translate(97.81476007px, 20.79116908px);
  }
  4.44444444% {
    transform: translate(96.12616959px, 27.56373558px);
  }
  5.55555556% {
    transform: translate(93.96926208px, 34.20201433px);
  }
  6.66666667% {
    transform: translate(91.35454576px, 40.67366431px);
  }
  7.77777778% {
    transform: translate(88.29475929px, 46.94715628px);
  }
  8.88888889% {
    transform: translate(84.80480962px, 52.99192642px);
  }
  10% {
    transform: translate(80.90169944px, 58.77852523px);
  }
  11.11111111% {
    transform: translate(76.60444431px, 64.27876097px);
  }
  12.22222222% {
    transform: translate(71.93398003px, 69.46583705px);
  }
  13.33333333% {
    transform: translate(66.91306064px, 74.31448255px);
  }
  14.44444444% {
    transform: translate(61.56614753px, 78.80107536px);
  }
  15.55555556% {
    transform: translate(55.91929035px, 82.90375726px);
  }
  16.66666667% {
    transform: translate(50px, 86.60254038px);
  }
  17.77777778% {
    transform: translate(43.83711468px, 89.87940463px);
  }
  18.88888889% {
    transform: translate(37.46065934px, 92.71838546px);
  }
  20% {
    transform: translate(30.90169944px, 95.10565163px);
  }
  21.11111111% {
    transform: translate(24.19218956px, 97.02957263px);
  }
  22.22222222% {
    transform: translate(17.36481777px, 98.4807753px);
  }
  23.33333333% {
    transform: translate(10.45284633px, 99.45218954px);
  }
  24.44444444% {
    transform: translate(3.48994967px, 99.9390827px);
  }
  25.55555556% {
    transform: translate(-3.48994967px, 99.9390827px);
  }
  26.66666667% {
    transform: translate(-10.45284633px, 99.45218954px);
  }
  27.77777778% {
    transform: translate(-17.36481777px, 98.4807753px);
  }
  28.88888889% {
    transform: translate(-24.19218956px, 97.02957263px);
  }
  30% {
    transform: translate(-30.90169944px, 95.10565163px);
  }
  31.11111111% {
    transform: translate(-37.46065934px, 92.71838546px);
  }
  32.22222222% {
    transform: translate(-43.83711468px, 89.87940463px);
  }
  33.33333333% {
    transform: translate(-50px, 86.60254038px);
  }
  34.44444444% {
    transform: translate(-55.91929035px, 82.90375726px);
  }
  35.55555556% {
    transform: translate(-61.56614753px, 78.80107536px);
  }
  36.66666667% {
    transform: translate(-66.91306064px, 74.31448255px);
  }
  37.77777778% {
    transform: translate(-71.93398003px, 69.46583705px);
  }
  38.88888889% {
    transform: translate(-76.60444431px, 64.27876097px);
  }
  40% {
    transform: translate(-80.90169944px, 58.77852523px);
  }
  41.11111111% {
    transform: translate(-84.80480962px, 52.99192642px);
  }
  42.22222222% {
    transform: translate(-88.29475929px, 46.94715628px);
  }
  43.33333333% {
    transform: translate(-91.35454576px, 40.67366431px);
  }
  44.44444444% {
    transform: translate(-93.96926208px, 34.20201433px);
  }
  45.55555556% {
    transform: translate(-96.12616959px, 27.56373558px);
  }
  46.66666667% {
    transform: translate(-97.81476007px, 20.79116908px);
  }
  47.77777778% {
    transform: translate(-99.02680687px, 13.9173101px);
  }
  48.88888889% {
    transform: translate(-99.75640503px, 6.97564737px);
  }
  50% {
    transform: translate(-100px, 0px);
  }
  51.11111111% {
    transform: translate(-99.75640503px, -6.97564737px);
  }
  52.22222222% {
    transform: translate(-99.02680687px, -13.9173101px);
  }
  53.33333333% {
    transform: translate(-97.81476007px, -20.79116908px);
  }
  54.44444444% {
    transform: translate(-96.12616959px, -27.56373558px);
  }
  55.55555556% {
    transform: translate(-93.96926208px, -34.20201433px);
  }
  56.66666667% {
    transform: translate(-91.35454576px, -40.67366431px);
  }
  57.77777778% {
    transform: translate(-88.29475929px, -46.94715628px);
  }
  58.88888889% {
    transform: translate(-84.80480962px, -52.99192642px);
  }
  60% {
    transform: translate(-80.90169944px, -58.77852523px);
  }
  61.11111111% {
    transform: translate(-76.60444431px, -64.27876097px);
  }
  62.22222222% {
    transform: translate(-71.93398003px, -69.46583705px);
  }
  63.33333333% {
    transform: translate(-66.91306064px, -74.31448255px);
  }
  64.44444444% {
    transform: translate(-61.56614753px, -78.80107536px);
  }
  65.55555556% {
    transform: translate(-55.91929035px, -82.90375726px);
  }
  66.66666667% {
    transform: translate(-50px, -86.60254038px);
  }
  67.77777778% {
    transform: translate(-43.83711468px, -89.87940463px);
  }
  68.88888889% {
    transform: translate(-37.46065934px, -92.71838546px);
  }
  70% {
    transform: translate(-30.90169944px, -95.10565163px);
  }
  71.11111111% {
    transform: translate(-24.19218956px, -97.02957263px);
  }
  72.22222222% {
    transform: translate(-17.36481777px, -98.4807753px);
  }
  73.33333333% {
    transform: translate(-10.45284633px, -99.45218954px);
  }
  74.44444444% {
    transform: translate(-3.48994967px, -99.9390827px);
  }
  75.55555556% {
    transform: translate(3.48994967px, -99.9390827px);
  }
  76.66666667% {
    transform: translate(10.45284633px, -99.45218954px);
  }
  77.77777778% {
    transform: translate(17.36481777px, -98.4807753px);
  }
  78.88888889% {
    transform: translate(24.19218956px, -97.02957263px);
  }
  80% {
    transform: translate(30.90169944px, -95.10565163px);
  }
  81.11111111% {
    transform: translate(37.46065934px, -92.71838546px);
  }
  82.22222222% {
    transform: translate(43.83711468px, -89.87940463px);
  }
  83.33333333% {
    transform: translate(50px, -86.60254038px);
  }
  84.44444444% {
    transform: translate(55.91929035px, -82.90375726px);
  }
  85.55555556% {
    transform: translate(61.56614753px, -78.80107536px);
  }
  86.66666667% {
    transform: translate(66.91306064px, -74.31448255px);
  }
  87.77777778% {
    transform: translate(71.93398003px, -69.46583705px);
  }
  88.88888889% {
    transform: translate(76.60444431px, -64.27876097px);
  }
  90% {
    transform: translate(80.90169944px, -58.77852523px);
  }
  91.11111111% {
    transform: translate(84.80480962px, -52.99192642px);
  }
  92.22222222% {
    transform: translate(88.29475929px, -46.94715628px);
  }
  93.33333333% {
    transform: translate(91.35454576px, -40.67366431px);
  }
  94.44444444% {
    transform: translate(93.96926208px, -34.20201433px);
  }
  95.55555556% {
    transform: translate(96.12616959px, -27.56373558px);
  }
  96.66666667% {
    transform: translate(97.81476007px, -20.79116908px);
  }
  97.77777778% {
    transform: translate(99.02680687px, -13.9173101px);
  }
  98.88888889% {
    transform: translate(99.75640503px, -6.97564737px);
  }
  100% {
    transform: translate(100px, 0px);
  }
}
*[data-ani=animate-round] {
  animation: circle 1s linear infinite;
}
@keyframes quxian {
  0% {
    transform: translate(0px, 0px);
  }
  1.11111111% {
    transform: translate(-0.24359497px, 3.42020143px);
  }
  2.22222222% {
    transform: translate(-0.97319313px, 6.4278761px);
  }
  3.33333333% {
    transform: translate(-2.18523993px, 8.66025404px);
  }
  4.44444444% {
    transform: translate(-3.87383041px, 9.84807753px);
  }
  5.55555556% {
    transform: translate(-6.03073792px, 9.84807753px);
  }
  6.66666667% {
    transform: translate(-8.64545424px, 8.66025404px);
  }
  7.77777778% {
    transform: translate(-11.70524071px, 6.4278761px);
  }
  8.88888889% {
    transform: translate(-15.19519038px, 3.42020143px);
  }
  10% {
    transform: translate(-19.09830056px, 0px);
  }
  11.11111111% {
    transform: translate(-23.39555569px, -3.42020143px);
  }
  12.22222222% {
    transform: translate(-28.06601997px, -6.4278761px);
  }
  13.33333333% {
    transform: translate(-33.08693936px, -8.66025404px);
  }
  14.44444444% {
    transform: translate(-38.43385247px, -9.84807753px);
  }
  15.55555556% {
    transform: translate(-44.08070965px, -9.84807753px);
  }
  16.66666667% {
    transform: translate(-50px, -8.66025404px);
  }
  17.77777778% {
    transform: translate(-56.16288532px, -6.4278761px);
  }
  18.88888889% {
    transform: translate(-62.53934066px, -3.42020143px);
  }
  20% {
    transform: translate(-69.09830056px, 0px);
  }
  21.11111111% {
    transform: translate(-75.80781044px, 3.42020143px);
  }
  22.22222222% {
    transform: translate(-82.63518223px, 6.4278761px);
  }
  23.33333333% {
    transform: translate(-89.54715367px, 8.66025404px);
  }
  24.44444444% {
    transform: translate(-96.51005033px, 9.84807753px);
  }
  25.55555556% {
    transform: translate(-103.48994967px, 9.84807753px);
  }
  26.66666667% {
    transform: translate(-110.45284633px, 8.66025404px);
  }
  27.77777778% {
    transform: translate(-117.36481777px, 6.4278761px);
  }
  28.88888889% {
    transform: translate(-124.19218956px, 3.42020143px);
  }
  30% {
    transform: translate(-130.90169944px, 0px);
  }
  31.11111111% {
    transform: translate(-137.46065934px, -3.42020143px);
  }
  32.22222222% {
    transform: translate(-143.83711468px, -6.4278761px);
  }
  33.33333333% {
    transform: translate(-150px, -8.66025404px);
  }
  34.44444444% {
    transform: translate(-155.91929035px, -9.84807753px);
  }
  35.55555556% {
    transform: translate(-161.56614753px, -9.84807753px);
  }
  36.66666667% {
    transform: translate(-166.91306064px, -8.66025404px);
  }
  37.77777778% {
    transform: translate(-171.93398003px, -6.4278761px);
  }
  38.88888889% {
    transform: translate(-176.60444431px, -3.42020143px);
  }
  40% {
    transform: translate(-180.90169944px, 0px);
  }
  41.11111111% {
    transform: translate(-184.80480962px, 3.42020143px);
  }
  42.22222222% {
    transform: translate(-188.29475929px, 6.4278761px);
  }
  43.33333333% {
    transform: translate(-191.35454576px, 8.66025404px);
  }
  44.44444444% {
    transform: translate(-193.96926208px, 9.84807753px);
  }
  45.55555556% {
    transform: translate(-196.12616959px, 9.84807753px);
  }
  46.66666667% {
    transform: translate(-197.81476007px, 8.66025404px);
  }
  47.77777778% {
    transform: translate(-199.02680687px, 6.4278761px);
  }
  48.88888889% {
    transform: translate(-199.75640503px, 3.42020143px);
  }
  50% {
    transform: translate(-200px, 0px);
  }
  51.11111111% {
    transform: translate(-199.75640503px, -3.42020143px);
  }
  52.22222222% {
    transform: translate(-199.02680687px, -6.4278761px);
  }
  53.33333333% {
    transform: translate(-197.81476007px, -8.66025404px);
  }
  54.44444444% {
    transform: translate(-196.12616959px, -9.84807753px);
  }
  55.55555556% {
    transform: translate(-193.96926208px, -9.84807753px);
  }
  56.66666667% {
    transform: translate(-191.35454576px, -8.66025404px);
  }
  57.77777778% {
    transform: translate(-188.29475929px, -6.4278761px);
  }
  58.88888889% {
    transform: translate(-184.80480962px, -3.42020143px);
  }
  60% {
    transform: translate(-180.90169944px, 0px);
  }
  61.11111111% {
    transform: translate(-176.60444431px, 3.42020143px);
  }
  62.22222222% {
    transform: translate(-171.93398003px, 6.4278761px);
  }
  63.33333333% {
    transform: translate(-166.91306064px, 8.66025404px);
  }
  64.44444444% {
    transform: translate(-161.56614753px, 9.84807753px);
  }
  65.55555556% {
    transform: translate(-155.91929035px, 9.84807753px);
  }
  66.66666667% {
    transform: translate(-150px, 8.66025404px);
  }
  67.77777778% {
    transform: translate(-143.83711468px, 6.4278761px);
  }
  68.88888889% {
    transform: translate(-137.46065934px, 3.42020143px);
  }
  70% {
    transform: translate(-130.90169944px, 0px);
  }
  71.11111111% {
    transform: translate(-124.19218956px, -3.42020143px);
  }
  72.22222222% {
    transform: translate(-117.36481777px, -6.4278761px);
  }
  73.33333333% {
    transform: translate(-110.45284633px, -8.66025404px);
  }
  74.44444444% {
    transform: translate(-103.48994967px, -9.84807753px);
  }
  75.55555556% {
    transform: translate(-96.51005033px, -9.84807753px);
  }
  76.66666667% {
    transform: translate(-89.54715367px, -8.66025404px);
  }
  77.77777778% {
    transform: translate(-82.63518223px, -6.4278761px);
  }
  78.88888889% {
    transform: translate(-75.80781044px, -3.42020143px);
  }
  80% {
    transform: translate(-69.09830056px, 0px);
  }
  81.11111111% {
    transform: translate(-62.53934066px, 3.42020143px);
  }
  82.22222222% {
    transform: translate(-56.16288532px, 6.4278761px);
  }
  83.33333333% {
    transform: translate(-50px, 8.66025404px);
  }
  84.44444444% {
    transform: translate(-44.08070965px, 9.84807753px);
  }
  85.55555556% {
    transform: translate(-38.43385247px, 9.84807753px);
  }
  86.66666667% {
    transform: translate(-33.08693936px, 8.66025404px);
  }
  87.77777778% {
    transform: translate(-28.06601997px, 6.4278761px);
  }
  88.88888889% {
    transform: translate(-23.39555569px, 3.42020143px);
  }
  90% {
    transform: translate(-19.09830056px, 0px);
  }
  91.11111111% {
    transform: translate(-15.19519038px, -3.42020143px);
  }
  92.22222222% {
    transform: translate(-11.70524071px, -6.4278761px);
  }
  93.33333333% {
    transform: translate(-8.64545424px, -8.66025404px);
  }
  94.44444444% {
    transform: translate(-6.03073792px, -9.84807753px);
  }
  95.55555556% {
    transform: translate(-3.87383041px, -9.84807753px);
  }
  96.66666667% {
    transform: translate(-2.18523993px, -8.66025404px);
  }
  97.77777778% {
    transform: translate(-0.97319313px, -6.4278761px);
  }
  98.88888889% {
    transform: translate(-0.24359497px, -3.42020143px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
*[data-ani=animate-quxian] {
  animation: quxian 1s linear infinite;
}
@keyframes rotateZ {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
*[data-ani=animate-rotateZ] {
  animation: rotateZ 2s linear infinite;
}
