@font-face {
  font-family: 'mtj';
  src: url('../font/iconfont.ttf');
}
*[data-role=xiangshang]:before {
  font-family: mtj;
  content: "\e644";
}
*[data-role=xiangshang][icon-pos=top]:before {
  display: block;
  font-family: mtj;
  content: "\e644";
}
*[data-role=xiangshang][icon-pos=left]:before {
  font-family: mtj;
  content: "\e644";
}
*[data-role=xiangshang][icon-pos=right]:before {
  font-family: mtj;
  content: "";
}
*[data-role=xiangshang][icon-pos=right]:after {
  font-family: mtj;
  content: "\e644";
}
*[data-role=xiangshang][icon-pos=bottom]:before {
  font-family: mtj;
  content: "";
}
*[data-role=xiangshang][icon-pos=bottom]:after {
  display: block;
  font-family: mtj;
  content: "\e644";
}
*[data-role=hanbao]:before {
  font-family: mtj;
  content: "\e670";
}
*[data-role=hanbao][icon-pos=top]:before {
  display: block;
  font-family: mtj;
  content: "\e670";
}
*[data-role=hanbao][icon-pos=left]:before {
  font-family: mtj;
  content: "\e670";
}
*[data-role=hanbao][icon-pos=right]:before {
  font-family: mtj;
  content: "";
}
*[data-role=hanbao][icon-pos=right]:after {
  font-family: mtj;
  content: "\e670";
}
*[data-role=hanbao][icon-pos=bottom]:before {
  font-family: mtj;
  content: "";
}
*[data-role=hanbao][icon-pos=bottom]:after {
  display: block;
  font-family: mtj;
  content: "\e670";
}
*[data-role=xiangxia]:before {
  font-family: mtj;
  content: "\e63a";
}
*[data-role=xiangxia][icon-pos=top]:before {
  display: block;
  font-family: mtj;
  content: "\e63a";
}
*[data-role=xiangxia][icon-pos=left]:before {
  font-family: mtj;
  content: "\e63a";
}
*[data-role=xiangxia][icon-pos=right]:before {
  font-family: mtj;
  content: "";
}
*[data-role=xiangxia][icon-pos=right]:after {
  font-family: mtj;
  content: "\e63a";
}
*[data-role=xiangxia][icon-pos=bottom]:before {
  font-family: mtj;
  content: "";
}
*[data-role=xiangxia][icon-pos=bottom]:after {
  display: block;
  font-family: mtj;
  content: "\e63a";
}
